#projects that I don't want to keep track of 
/Section\ 5
/basics
/directives-start
/services-start
/services-assignment-start
/routing-start
/obs-01-start
/forms-td-start
/forms-tdd-practice
/forms-reactive-start
/http-01-start
/http-02-post-requests

# Want to ignore node_modules of each project in this repo
/*/node_modules

#Miscellaneous files
.DS_store